# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Model files (trop volumineux pour GitHub)
*.h5

# Data files
archive/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
